<!DOCTYPE html>
<html>
<head>
    <title>Your Addresses</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Your Addresses</h1>
    <form action="/addresses/add" method="POST">
        <label for="address_line1">Address Line 1:</label>
        <input type="text" name="address_line1" required><br>
        <label for="address_line2">Address Line 2:</label>
        <input type="text" name="address_line2"><br>
        <label for="city">City:</label>
        <input type="text" name="city" required><br>
        <label for="state">State:</label>
        <input type="text" name="state" required><br>
        <label for="postal_code">Postal Code:</label>
        <input type="text" name="postal_code" required><br>
        <label for="country">Country:</label>
        <input type="text" name="country" required><br>
        <button type="submit">Add Address</button>
    </form>

    <h2>Your Saved Addresses</h2>
    <ul>
        <% addresses.forEach(address => { %>
            <li>
                <p><%= address.address_line1 %>, <%= address.address_line2 %>, <%= address.city %>, <%= address.state %>, <%= address.postal_code %>, <%= address.country %></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>
