<!DOCTYPE html>
<html>
<head>
    <title>Votre Panier</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        img {
            max-width: 200px; /* Define a maximum width */
            height: auto; /* Maintain aspect ratio */
            display: block; /* Ensure the image is block-level */
            margin: 0 auto; /* Center the image */
        }
    </style>
</head>
<body>
    <h1>Your Cart</h1>
    <ul>
        <a href="/">Continue Shopping</a>
        <h1>Your Cart</h1>
        <ul>
            <% if (cartItems && cartItems.length > 0) { %>
                <ul>
                    <% cartItems.forEach(item => { %>
                        <li>
                            <img src="<%= item.image_url %>" alt="<%= item.name %>">
                            <p>Product: <%= item.name %></p>
                            <p>Size: <%= item.size %></p>
                            <p>Price: <%= item.price %> <%= item.currency %></p>
                            <p>Quantity: <%= item.quantity %></p>
                            <form action="/cart/remove" method="post">
                                <input type="hidden" name="productId" value="<%= item.id_product %>">
                                <input type="hidden" name="size" value="<%= item.size %>">
                                <button type="submit">Remove</button>
                            </form>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>Your cart is empty</p>
            <% } %>
        </ul>
    </ul>
    <a href="/">Continue Shopping</a>
    <a href="/cart/confirm">Valider mon panier</a>
</body>
</html>
