<!-- frontend/views/cart.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Votre Panier</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Your Cart</h1>
    <ul>
        <% cartItems.forEach(item => { %>
            <li>
                <h2><%= item.name %></h2>
                <p>Price: <%= item.price %> <%= item.currency %></p>
                <p>Quantity: <%= item.quantity %></p>
                <% if (item.image_url) { %>
                    <img src="<%= item.image_url %>" alt="<%= item.name %>">
                <% } %>
                <form action="/cart/remove/<%= item.id_product %>" method="POST">
                    <button type="submit">Remove</button>
                </form>
                <form action="/cart/update/<%= item.id_product %>" method="POST">
                    <label for="quantity">Quantity:</label>
                    <select name="quantity" onchange="this.form.submit()">
                        <% for (let i = 1; i <= 10; i++) { %>
                            <option value="<%= i %>" <% if (i === item.quantity) { %>selected<% } %>><%= i %></option>
                        <% } %>
                    </select>
                </form>
            </li>
        <% }) %>
    </ul>
    <a href="/">Continue Shopping</a>
    <a href="/cart/confirm">Valider mon panier</a> <!-- Change the href to point to /cart/confirm -->
</body>
</html>
