<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Shopping Cart</h1>
    <a href="/">Continue Shopping</a>
    <ul>
        <% if (cartItems.length === 0) { %>
            <li>Your cart is empty</li>
        <% } else { %>
            <% cartItems.forEach(item => { %>
                <li>
                    <p><%= item.name %> - <%= item.price %> <%= item.currency %></p>
                    <p>Quantity: <%= item.quantity %></p>
                    <img src="<%= item.image_url %>" alt="<%= item.name %>">
                    <form action="/cart/remove/<%= item.id_product %>" method="POST">
                        <button type="submit">Remove</button>
                    </form>
                </li>
            <% }) %>
        <% } %>
    </ul>
</body>
</html>
