<!DOCTYPE html>
<html>
<head>
    <title>Votre Panier</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        img {
            max-width: 200px; /* Define a maximum width */
            height: auto; /* Maintain aspect ratio */
            display: block; /* Ensure the image is block-level */
            margin: 0 auto; /* Center the image */
        }
    </style>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Your Cart</h1>
        <ul>
            <a href="/">Continue Shopping</a>
            <h1>Your Cart</h1>
            <ul>
                <% if (cartItems && cartItems.length > 0) { %>
                    <ul>
                        <% cartItems.forEach(item => { %>
                            <li>
                                <div class="product-image" style="background-image: url('<%= product.images.split(',')[0] %>');"></div>
                                <p>Product: <%= item.name %></p>
                                <p>Size: <%= item.size %></p>
                                <p>Price: <%= item.price %> <%= item.currency %></p>
                                <p>Quantity: <%= item.quantity %></p>
                                <form action="/cart/remove" method="post">
                                    <input type="hidden" name="productId" value="<%= item.id_product %>">
                                    <input type="hidden" name="size" value="<%= item.size %>">
                                    <button type="submit">Remove</button>
                                </form>
                                <form action="/cart/update/<%= item.id_product %>" method="post">
                                    <input type="hidden" name="productId" value="<%= item.id_product %>">
                                    <input type="hidden" name="size" value="<%= item.size %>">
                                    <input type="number" name="quantity" value="<%= item.quantity %>" min="1">
                                    <button type="submit">Update</button>
                                </form>
                            </li>
                        <% }); %>
                    </ul>
                    <h2>Subtotal: <%= subtotal %> EUR</h2>
                    <h2>Shipping: 5.90 EUR</h2>
                    <h2>Total: <%= total %> EUR</h2>
                    <a href="/cart/confirm">Valider mon panier</a>
                <% } else { %>
                    <p>Your cart is empty</p>
                <% } %>
            </ul>
        </ul>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
