<!DOCTYPE html>
<html>
<head>
    <title>Mes Favoris</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        img {
            max-width: 200px; /* Define a maximum width */
            height: auto; /* Maintain aspect ratio */
            display: block; /* Ensure the image is block-level */
            margin: 0 auto; /* Center the image */
        }
    </style>
        <script>
            function removeFromFavorites(productId) {
                fetch('/favorites/remove', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Remove the item from the DOM
                        document.getElementById(`favorite-item-${productId}`).remove();
                    } else {
                        alert('Failed to remove favorite');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        </script>
</head>
<body>
    <body>
        <h1>Mes Favoris</h1>
        <ul>
            <% if (favoriteItems.length > 0) { %>
                <% favoriteItems.forEach(item => { %>
                    <li id="favorite-item-<%= item.id_product %>">
                        <h2><%= item.name %></h2>
                        <p>Price: <%= item.price %> <%= item.currency %></p>
                        <img src="<%= item.image_url %>" alt="<%= item.name %>">
                        <button onclick="removeFromFavorites(<%= item.id_product %>)">Remove</button>
                    </li>
                <% }); %>
            <% } else { %>
                <p>Vous n'avez pas de favoris.</p>
            <% } %>
        </ul>
        <a href="/">Retourner à la boutique</a>
    </body>
</body>
</html>
