<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <div class="home">
                <div class="filtre">
                    <form id="filterForm" action="/" method="GET">
                        <fieldset>
                            <legend>Categorie :</legend>
                            <label>
                                <input type="checkbox" name="category" value="" id="allCategories" onchange="toggleCategory(this)" <%= selectedCategory.length === 0 ? 'checked' : '' %>>
                                Toutes les catégories
                            </label>
                            <% categories.forEach(category => { %>
                                <label>
                                    <input type="checkbox" name="category" value="<%= category.id_category %>" class="categoryCheckbox" onchange="toggleCategory(this)" <%= selectedCategory.includes(category.id_category.toString()) ? 'checked' : '' %>>
                                    <%= category.label %>
                                </label>
                            <% }) %>
                        </fieldset>
            
                        <fieldset>
                            <legend>Couleur :</legend>
                            <label>
                                <input type="checkbox" name="color" value="" id="allColors" onchange="toggleColor(this)" <%= selectedColor.length === 0 ? 'checked' : '' %>>
                                Toutes les couleurs
                            </label>
                            <% colors.forEach(color => { %>
                                <label>
                                    <input type="checkbox" name="color" value="<%= color.id_color %>" class="colorCheckbox" onchange="toggleColor(this)" <%= selectedColor.includes(color.id_color.toString()) ? 'checked' : '' %>>
                                    <%= color.label %>
                                </label>
                            <% }) %>
                        </fieldset>
            
                        <fieldset>
                            <legend>Trier par :</legend>
                            <label>
                                <input type="radio" name="sort" value="default" onchange="document.getElementById('filterForm').submit()" <%= sortOrder === 'default' ? 'checked' : '' %>>
                                Par défaut
                            </label>
                            <label>
                                <input type="radio" name="sort" value="price_asc" onchange="document.getElementById('filterForm').submit()" <%= sortOrder === 'price_asc' ? 'checked' : '' %>>
                                Prix croissant 
                            </label>
                            <label>
                                <input type="radio" name="sort" value="price_desc" onchange="document.getElementById('filterForm').submit()" <%= sortOrder === 'price_desc' ? 'checked' : '' %>>
                                Prix décroissant
                            </label>
                            <label>
                                <input type="radio" name="sort" value="name_asc" onchange="document.getElementById('filterForm').submit()" <%= sortOrder === 'name_asc' ? 'checked' : '' %>>
                                Nom: A à Z
                            </label>
                            <label>
                                <input type="radio" name="sort" value="name_desc" onchange="document.getElementById('filterForm').submit()" <%= sortOrder === 'name_desc' ? 'checked' : '' %>>
                                Nom: Z à A
                            </label>
                        </fieldset>
                    </form>
                    
                </div>
                <div class="product-list">
                    <% products.forEach(product => { %>
                        <div class="product-item">
                            <h3><a href="/product/<%= product.id_product %>" class="product-link"><%= product.name %></a></h3>
                            <div class="product-image" style="background-image: url('<%= product.images.split(',')[0] %>');"></div>
                            <% if (product.sizes && product.sizes.length > 0) { %>
                                <form action="/cart/add/<%= product.id_product %>" method="POST">
                                    <label for="size-<%= product.id_product %>">Taille :</label>
                                    <select name="size" id="size-<%= product.id_product %>" onchange="updatePrice('<%= product.id_product %>', this.value)">
                                        <% product.sizes.forEach(size => { %>
                                            <option value="<%= size.label %>"><%= size.label %></option>
                                        <% }) %>
                                    </select>
                                    <p>Prix : <span id="price-<%= product.id_product %>"><%= product.price %> <%= product.currency %></span></p>
                                    <button type="submit" class="button-common">Ajouter au panier</button>
                                </form>
                            <% } else { %>
                                <p>No sizes available</p>
                            <% } %>
                            <button class="add-to-favorites button-common" data-id="<%= product.id_product %>">Ajouter aux favoris</button>
                        </div>
                    <% }) %>
                </div>
        
            </div>
            <div class="pagination">
                <% for(let i=1; i <=totalPages; i++) { %>
                    <a href="/?page=<%= i %>&sort=<%= sortOrder %>&category=<%= selectedCategory %>&color=<%= selectedColor %>"
                        <%=currentPage===i ? 'class="active"' : '' %>><%= i %></a>
                    <% } %>
            </div>
        </main>
        <%- include('partials/footer') %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function updatePrice(productId, size) {
            $.ajax({
                url: '/api/price',
                method: 'GET',
                data: { productId: productId, size: size },
                success: function(response) {
                    $('#price-' + productId).text(response.price + ' ' + response.currency);
                },
                error: function() {
                    alert('An error occurred while fetching the price');
                }
            });
        }

        function toggleCategory(checkbox) {
            const allCategoriesCheckbox = document.getElementById('allCategories');
            const categoryCheckboxes = document.querySelectorAll('.categoryCheckbox');

            if (checkbox === allCategoriesCheckbox) {
                categoryCheckboxes.forEach(cb => cb.checked = false);
            } else {
                allCategoriesCheckbox.checked = false;
            }

            const anyChecked = Array.from(categoryCheckboxes).some(cb => cb.checked);
            if (!anyChecked) {
                allCategoriesCheckbox.checked = true;
            }

            document.getElementById('filterForm').submit();
        }

        function toggleColor(checkbox) {
            const allColorsCheckbox = document.getElementById('allColors');
            const colorCheckboxes = document.querySelectorAll('.colorCheckbox');

            if (checkbox === allColorsCheckbox) {
                colorCheckboxes.forEach(cb => cb.checked = false);
            } else {
                allColorsCheckbox.checked = false;
            }

            const anyChecked = Array.from(colorCheckboxes).some(cb => cb.checked);
            if (!anyChecked) {
                allColorsCheckbox.checked = true;
            }

            document.getElementById('filterForm').submit();
        }

        $(document).ready(function() {
            $('.add-to-favorites').click(function(event) {
                event.preventDefault();
                const productId = $(this).data('id');
                $.ajax({
                    url: '/favorites/add/' + productId,
                    method: 'POST',
                    success: function(response) {
                        alert(response.message);
                    },
                    error: function() {
                        alert('An error occurred while adding to favorites');
                    }
                });
            });
        });
    </script>
</body>

</html>