<!-- frontend/views/productDetails.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1><%= product.name %></h1>
    <p>Price: <%= product.price %> <%= product.currency %></p>
    <p><%= product.description %></p>
    <% if (product.images) { %>
        <% product.images.split(',').forEach(image => { %>
            <img src="<%= image %>" alt="<%= product.name %>">
        <% }) %>
    <% } %>
    <form action="/cart/add/<%= product.id_product %>" method="POST">
        <button type="submit">Add to Cart</button>
    </form>
    <form action="/favorites/add/<%= product.id_product %>" method="POST">
        <button type="submit">Add to Favorites</button>
    </form>
    <h2>Random Products</h2>
    <ul>
        <% randomProducts.forEach(randomProduct => { %>
            <li>
                <h3><%= randomProduct.name %></h3>
                <p>Price: <%= randomProduct.price %> <%= randomProduct.currency %></p>
                <% if (randomProduct.images) { %>
                    <img src="<%= randomProduct.images.split(',')[0] %>" alt="<%= randomProduct.name %>">
                <% } %>
                <a href="/product/<%= randomProduct.id_product %>">View Details</a>
                <form action="/cart/add/<%= randomProduct.id_product %>" method="POST">
                    <button type="submit">Add to Cart</button>
                </form>
                <form action="/favorites/add/<%= randomProduct.id_product %>" method="POST">
                    <button type="submit">Add to Favorites</button>
                </form>
            </li>
        <% }) %>
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>
